[options]
    types = ["iso", "post", "pnr", "3pt", "mr", "inside", "drive", "playmaker"]


[scorer1]
    pos = sg
    skills = ["3pt","inside"]
    num = 6

[scorer2]
    pos = pf
    skills = ["post","inside"]
    num = 5

[scorer3]
    pos = sf
    skills = ["3pt","inside", "playmaker"]
    num = 4
    
[scorer4]
    pos = c
    skills = ["post", "inside"]
    num = 3

[scorer5]
    pos = pg
    skills = ["pnr","playmaker"]
    num = 2