[options]
    types = ["iso", "post", "pnr", "3pt", "mr", "inside", "drive", "playmaker"]
    # pg [iso, post, 3pt, inside]
    # sg [iso, mr, 3pt, inside, post]
    # sf [mr, iso, inside, 3pt, post]
    # pf [post, inside, mr, 3pt, iso]
    # c [inside, post, iso]

[scorer1]
    pos = sg
    skills = ["3pt","3pt","3pt","3pt","inside","iso"]
    num = 6

[scorer2]
    pos = pf
    skills = ["post","post","inside","inside","iso"]
    num = 5

[scorer3]
    pos = sf
    skills = ["3pt","3pt","inside","iso"]
    num = 4
    
[scorer4]
    pos = c
    skills = ["post","post","inside"]
    num = 3

[scorer5]
    pos = pg
    skills = ["3pt","iso"]
    num = 2